@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&family=Outfit:wght@100..900&family=Silkscreen&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #11111b;
  color: #cdd6f4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
}

.calculator {
  background-color: #1e1e2e;
  border-radius: 16px;
  padding: 32px;
  box-shadow: 16px 16px 8px rgba(0, 0, 0, 0.308);
  border: 2px solid #ccd0da;
}

h1 {
  margin-bottom: 16px;
  text-shadow: 2px 2px 2px#ccd0da8f;
}

.screen {
  display: flex;
  flex-direction: column;
  background-color: #00000038;
  border: 2px solid #ccd0da;
  border-radius: 12px;
  padding: 8px;
  margin-bottom: 24px;
  width: 400px;
}

#history {
  font-size: 24px;
  height: 30px;
  overflow-x: scroll;
  scrollbar-width: none;
}

#number {
  text-align: right;
  font-size: 48px;
  height: 60px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

button {
  font-family: inherit;
  color: inherit;
  font-size: 24px;
  padding: 4px;
  font-weight: bold;
  background-color: #363a4f;
  border: 2px solid #ccd0da;
  border-radius: 12px;
  aspect-ratio: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 0 #4c516e;
  transition: all 0.1s ease;
}

button:active {
  transform: translateY(8px);
  box-shadow: 0 0 0;
}

button:nth-child(9),
button:nth-child(10) {
  color: white;
  background-color: #ee6366;
}

button:last-child {
  grid-column: span;
  aspect-ratio: initial;
  grid-column: span 2;
  color: white;
}
